# Grouped Means

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("gapminder.csv")

In [3]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
df.groupby("year")["lifeExp"].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [5]:
df.groupby("continent")["lifeExp"].mean()

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64

In [7]:
df.groupby("country")["lifeExp"].mean()

country
Afghanistan           37.478833
Albania               68.432917
Algeria               59.030167
Angola                37.883500
Argentina             69.060417
                        ...
Vietnam               57.479500
West Bank and Gaza    60.328667
Yemen, Rep.           46.780417
Zambia                45.996333
Zimbabwe              52.663167
Name: lifeExp, Length: 142, dtype: float64

In [9]:
df.groupby(["country", "year"])["lifeExp"].mean()

country      year
Afghanistan  1952    28.801
             1957    30.332
             1962    31.997
             1967    34.020
             1972    36.088
                      ...
Zimbabwe     1987    62.351
             1992    60.377
             1997    46.809
             2002    39.989
             2007    43.487
Name: lifeExp, Length: 1704, dtype: float64

In [10]:
df.groupby(["country", "continent"])["lifeExp"].mean()

country             continent
Afghanistan         Asia         37.478833
Albania             Europe       68.432917
Algeria             Africa       59.030167
Angola              Africa       37.883500
Argentina           Americas     69.060417
                                   ...
Vietnam             Asia         57.479500
West Bank and Gaza  Asia         60.328667
Yemen, Rep.         Asia         46.780417
Zambia              Africa       45.996333
Zimbabwe            Africa       52.663167
Name: lifeExp, Length: 142, dtype: float64

In [11]:
df.groupby("country")[["lifeExp", "gdpPercap"]].mean()

                      lifeExp    gdpPercap
country
Afghanistan         37.478833   802.674598
Albania             68.432917  3255.366633
Algeria             59.030167  4426.025973
Angola              37.883500  3607.100529
Argentina           69.060417  8955.553783
...                       ...          ...
Vietnam             57.479500  1017.712615
West Bank and Gaza  60.328667  3759.996781
Yemen, Rep.         46.780417  1569.274672
Zambia              45.996333  1358.199409
Zimbabwe            52.663167   635.858042

[142 rows x 2 columns]

In [12]:
df.groupby("continent")[["lifeExp", "gdpPercap"]].mean()

             lifeExp     gdpPercap
continent
Africa     48.865330   2193.754578
Americas   64.658737   7136.110356
Asia       60.064903   7902.150428
Europe     71.903686  14469.475533
Oceania    74.326208  18621.609223

In [13]:
df.groupby(["country", "continent"])[["lifeExp", "gdpPercap"]].mean()

                                lifeExp    gdpPercap
country            continent
Afghanistan        Asia       37.478833   802.674598
Albania            Europe     68.432917  3255.366633
Algeria            Africa     59.030167  4426.025973
Angola             Africa     37.883500  3607.100529
Argentina          Americas   69.060417  8955.553783
...                                 ...          ...
Vietnam            Asia       57.479500  1017.712615
West Bank and Gaza Asia       60.328667  3759.996781
Yemen, Rep.        Asia       46.780417  1569.274672
Zambia             Africa     45.996333  1358.199409
Zimbabwe           Africa     52.663167   635.858042

[142 rows x 2 columns]