# Import CSV File

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("iris.csv")

In [3]:
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width   Class
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
df.tail()

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Class
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [6]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [7]:
df.shape

(150, 5)

In [8]:
df.columns

Index(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Class'], dtype='object')

In [9]:
df.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Class            object
dtype: object

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal_Length  150 non-null    float64
 1   Sepal_Width   150 non-null    float64
 2   Petal_Length  150 non-null    float64
 3   Petal_Width   150 non-null    float64
 4   Class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [4]:
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width   Class
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [6]:
df.loc[4, "Class"]

'Setosa'

In [7]:
df.iloc[4,4]

'Setosa'

In [10]:
df.loc[[0,1,2,], ["Petal_Width", "Class"]]

   Petal_Width   Class
0          0.2  Setosa
1          0.2  Setosa
2          0.2  Setosa

In [11]:
df.iloc[[0,1,2,], [3,4]]

   Petal_Width   Class
0          0.2  Setosa
1          0.2  Setosa
2          0.2  Setosa