# Subset columns by range

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("iris.csv")

In [3]:
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width   Class
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
range(5)

range(0, 5)

In [5]:
list(range(5))

[0, 1, 2, 3, 4]

In [7]:
range_5 = list(range(5))
print(range_5)

[0, 1, 2, 3, 4]

In [8]:
df.iloc[:, range_5]

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Class
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [9]:
range_4 = list(range(4))
print(range_4)

[0, 1, 2, 3]

In [10]:
df.iloc[:, range_4]

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [13]:
range_2 = list(range(1,3))
print(range_2)

[1, 2]

In [14]:
df.iloc[:, range_2]

     Sepal_Width  Petal_Length
0            3.5           1.4
1            3.0           1.4
2            3.2           1.3
3            3.1           1.5
4            3.6           1.4
..           ...           ...
145          3.0           5.2
146          2.5           5.0
147          3.0           5.2
148          3.4           5.4
149          3.0           5.1

[150 rows x 2 columns]

In [15]:
range_10 = list(range(10))
print(range_10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
df.iloc[:, range_10]

IndexError: positional indexers are out-of-bounds